<?xml version="1.0" ?>
<launch>
  <arg name="map_name" default="$(find epic)/maps/basic.yaml"/>

  <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(arg map_name)">
  </node>

  <node pkg="epic" type="epic_navigation_node" name="epic_navigation_node" output="screen">
    <!-- <remap from="map" to="occupancy_grid"/> -->
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find epic)/rviz/default.rviz"/>
</launch>

