<launch>
  <arg name="map_name" default="$(find epic)/maps/maze_3.yaml"/>

  <include file="$(find kobuki_softapps)/launch/nav.launch"/>

  <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(arg map_name)">
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find kobuki_softapps)/rviz/nav.rviz"/>
</launch>

